apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dvc-cache-pvc
  labels:
    app: ml-api
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
